@mixin animation($duration, $animation) {
	-webkit-animation-delay: 0s;
	-webkit-animation-duration: $duration;
	-webkit-animation-name: $animation;
	-webkit-animation-timing-function: ease-in-out;
	-moz-animation-delay: 0s;
	-moz-animation-duration: $duration;
	-moz-animation-name: $animation;
	-moz-animation-timing-function: ease-in-out;
	-o-animation-delay: 0s;
	-o-animation-duration: $duration;
	-o-animation-name: $animation;
	-o-animation-timing-function: ease-in-out;
	animation-delay: 0s;
	animation-duration: $duration;
	animation-name: $animation;
	animation-timing-function: ease-in-out;
}
